[Unit]
Description=Grafana Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop grafana0
ExecStartPre=-/usr/bin/docker rm grafana0
ExecStartPre=/usr/bin/docker pull grafana/grafana
ExecStart=/usr/bin/docker run --rm -p 3000:3000 -v "/opt/grafana-storage:/var/lib/grafana" --net="host" --name=grafana0 grafana/grafana

[Install]
WantedBy=multi-user.target
	
