[Unit]
Description=Node Exporter Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop node-exporter0
ExecStartPre=-/usr/bin/docker rm node-exporter0
ExecStartPre=/usr/bin/docker pull prom/node-exporter
ExecStart=/usr/bin/docker run --rm -v "/proc:/host/proc:ro" -v "/sys:/host/sys:ro" -v "/:/rootfs:ro" --net="host" --name node-exporter0 prom/node-exporter

[Install]
WantedBy=multi-user.target
	
